@import url('reset.css');
@import url('grid.css');
@import url('buttons.css');
@import url('typography.css');
@import url('icon.css');
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    font-family: 'OpenSans';
    color: rgb(130, 130, 130);
}

#header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#header nav a:hover, nav .active {
    background-color: rgba(84, 209, 84, 0.3);
}

#header {
    background: #000 url(../img/background-header.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 660px;
    padding-top: 30px;
}

#header a {
    color: #fff;
}

#header nav {
    text-align: right;
}

#header nav ul, #header nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

header .title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

#how-it-work, #customers {
    text-align: center;
    padding: 30px 0 30px 0;
}

#customers {
    background-color: rgb(242, 242, 242);
}

#customers .btn {
    margin-top: 40px;
    background-color: rgb(220, 220, 220);
    color: rgb(130, 130, 130);
}

#customers .btn:hover {
    background-color: rgb(130, 130, 130);
    color: rgb(220, 220, 220);
} 

#customers .btn .material-icons {
    vertical-align: middle;
    font-size: 16px;
}

#customers .container {
    max-width: 1000px;
}
