@import url('../style.css');

#header.page-team {
    background-image: url(../../img/background-equipe.jpg);
}

#team {
    background-color: #F3F0E7;
}

#team .img-box-around {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(84, 209, 84);
}

#team .img-box-label::before {
    display: none;
}

#team .row:first-child {
    margin-bottom: 40px;
}

.team-member {
    position: relative;
}

.team-member .description {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid rgba(0, 0, 0, 0.3);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    width: 400px;
}

.team-member:hover .description {
    display: block;
}

.team-member:nth-child(4) .description, .team-member:nth-child(5) .description {
    left: auto;
    right: 50%;
}
